---
---

@import "jekyll-theme-minimal";
body {
    background: #D6CAC3;
    color: #222;
};
a {
    color: #688d7f;
    text-decoration: none;
};
h1, h2, h3, h4, h5, h6, summary {
    color: #445A54;
    margin: 0 0 20px;
};
